<div class="container p-5">
    <h1 class="fw-light">Iniciar sesión</h1>

    <form>
        <div class="row mt-3">
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label">Usuario</label>
                    <input type="text" class="form-control" [(ngModel)]="username" name="username">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control" [(ngModel)]="password" name="password">
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary" (click)="login()">Iniciar</button>
            </div>
        </div>
    </form>   
</div>